.Login {
    text-align: center;
    background-color: #4F6AB1;
    width: 100%;
    height: 100%;
    position: fixed;
}

.content-login {
    width: 100%;
    position: relative;
    height: 100%;
    background-color: #4F6AB1;
}

.content-half {
    width: 100%;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    background-color: #FFF;
}

.block-login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 240px;
    height: 250px;
    background-color: #fff;
    margin: -150px 0 0 -150px;
    padding: 30px;
    z-index: 2;
    box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, .2);
}

.logo-header {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.fields {
    margin: 21px 0;
}

.fields>input {
    margin-bottom: 8px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 0 6px;
    border: 1px solid #c2c2c2;
    outline: none;
    box-sizing: border-box;
}

.btn-enter {
    border: 0;
    display: inline-block;
    width: 100%;
    height: 40px;
    background-color: #4F6AB1;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 12px 0;
    font-size: 16px;
    box-sizing: border-box;
}

small.error {
    display: inline-block;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    width: 100%;
    border-radius: 2px;
    padding: 5px 0px;
}