.User{
    display: block;
    width: 100%;
    text-align: center;
}
.list-address {
    display: inline-block;
    width: 60%;
    position: relative;
    text-align: left;
}

.modal-alert{
    width: 25% !important;
}

.label-address{
    color: #334581;
    font-weight: bold;
}

.btn-update{
    background: #334581;
    color: #FFF;
    border: none;
    border-radius: 4px;
    width: 45%;
    height: 45px;
    display: inline-block;
    margin-bottom: 20px;
}


.messages{
    width: 50%;
    display: inline-block;
}
.messages-success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;  
}
.messages-error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.loading{
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    position: relative;
}

.loading>div{
    display: inline-block;
    position: relative;
    top: 50px;
}

.btn-action{
    width: 100%;
    text-align:center;
    display: block;
}