.Header {
    margin: 0 0 40px;
    background: #334581;
    color: #FFF;
    padding: 15px;
    text-align: center;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
}

.header-alfa>h3 {
    margin: auto;
    vertical-align: middle;
    display: inline-block;
    font-size: 2.32rem;
    line-height: 110%;

}
.logo-alfa{
    float: right;
    width: 100px;
    vertical-align: middle;
}

.home-header{
    float: left;
    vertical-align: middle;  
    font-size: 40px !important;
    cursor: pointer;
}

p.logout {
    display: inline-block;
    float: right;
    margin-right: 25px;
    cursor: pointer;
}

@media (max-width: 400px){
    img.logo-alfa {
        width: 50px;
        display: none;
    }
    p.logout {
        margin-right: 10px;
    }
    .header-alfa>h3 {
        margin: 0;
    }
    .home-header {
        font-size: 30px !important;
        position: relative;
        top: 7px;
    }
}