.CardsExam{
    display: block;
    width: 100%;
    text-align: center;
}
.list-cards {
    display: inline-block;
    width: 60%;
    position: relative;
}
.tag-new {
    position: absolute;
    background: #912320;
    top: 0;
    height: 50px;
    border-bottom: 15px solid #FFF;
    content: "";
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    width: 20px;
    text-align: center;
    vertical-align: middle;
}
.card-action{
    background-color: #912320 !important;
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px 40px !important;
    border-radius: 20px !important; 
}
.link-enter{
    color: #FFF !important;
    margin-right: 0px;
}

.card-action > a {
    margin: 0 !important;
}

.modal-alert{
    width: 25% !important;
}