.AudioPlayer {
    text-align: left;
    display: block;
    padding: 10px 0;
}
.content-audio{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    background: #FFF;
}
.audio-btn {
    display: inline-block;
    padding: 10px;
    border: 1px solid #495679;
    background: #4E68AE;
    color: #FFF;
    vertical-align: middle;
    text-align: center;
    cursor:pointer;
}

.audio-btn > i {
    vertical-align: middle;
    cursor:pointer;
}

#timeline{
    width: 400px;
    height: 4px;
    border-radius: 15px;
    background: #B7B7B7;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 5px;
}

#handle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 1px;
    background: #4E68AE;
    vertical-align: middle;
    position: relative;
    bottom: 13px;
}

.audio-range{
    background: #FFF;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 465px;
}

.audio-time{
    display: inline-block;
    vertical-align: middle;
    color: #B7B7B7;
    position: relative;
    padding-left: 20px;
    font-weight: 600;
    margin: 0;
}

.audio-volume{
    display: inline-block;
    vertical-align: middle; 
    box-sizing: border-box;
    padding-right: 20px;
}

.btn-icon{
    color: #808284;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-icon > i{
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.volline{
    width: 150px;
    height: 6px;
    border-radius: 15px;
    background: #808284;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 5px;
}

.volhandle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 1px;
    background: #4E68AE;
    vertical-align: middle;
    position: relative;
    bottom: 13px;
}

@media (max-width: 319px){
    .content-audio {
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 420px){
    .content-audio {
        width: 100%;
    }
    .audio-volume {
        width: 40%;
    }
    .audio-range {
        width: 83%;
    }
    #volhandle {
        margin-left: 0px !important;
    }
    .volline {
        width: 55%;
    }
}

@media (max-width: 450px){
    #timeline {
        width: 80px;
    }
    .audio-time{
        padding-left: 10px;
    }
    .audio-volume{
        padding-left: 0px;
    }
}

@media (max-width: 674px){
    #timeline {
        width: 100px;
    }
    .volline {
        width: 40px;
    }
    div#volhandle{
        margin-left: 17px !important;
    }
}


@media (min-width: 675px) and (max-width: 745px){
    #timeline {
        width: 150px;
    }
    .volline {
        width: 80px;
    }
    div#volhandle{
        margin-left: 57px !important;
    }
}

@media (min-width: 746px) and (max-width: 819px){
    #timeline {
        width: 200px;
    }
}

@media (min-width: 820px) and (max-width: 900px){
    #timeline {
        width: 250px;
    }
}

@media (min-width: 901px) and (max-width: 1030px){
    #timeline {
        width: 300px;
    }
}