html{
    background: #e9e9e9;
}
.Exam{
    display: block;
    width: 100%;
    text-align: center;
    height: 100%;
}

.content-exam{
    width: 70%;
    display: inline-block;
    text-align: left;
    overflow-y: scroll;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 27px;
    height: 350px;
}
.parts {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    height: 60px;
}
.row{
    margin-bottom: 0px !important;
    height: 100%;
}

.parts .col{
    background-color: #CD3539;
    padding: 5px;
    height: 100%;
}

.parts .active{
    background-color: #852225;
}

.parts .desactive{
    background-color: #808285;
}

.title-part1 {
    display: inline-block;
    padding: 5px;
}

.parts p{
    color: #FFF;
}

.exam-menu-default:after{
    content: "";
    position: absolute;
    width: 18%;
    height: 100%;
    /* background-image: url(../../img/step-menu-active.png); */
    background-repeat: no-repeat;
    background-size: auto 100%;
    right: -18%;
    top: 0;
    z-index: 10;
}


.player {
    width: 30px;
    height: 30px;
    background: #000;
}

.parts>.row>.active:after, .passed:after{
    background-image: url('../../img/step-menu-active.png');
    content: "";
    width: 45px;
    height: 65px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: contain;
}

.passed:after{
    background-image: url('../../img/step-menu-default.png');
    position: absolute;
}

p.person {
    color: #334581;
    display: inline-block;
    font-weight: 500;
    margin-right: 20px;
}

.answer-user-input > .person, .answer-user-input textarea, .group > p {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.answer-user-input textarea{
    width: 65%;
    padding-left: 10px;
    background: #FFF;
}

.answer{
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    margin-left: 15px;
}

.answer > .person{
    color: #155724;
}

.next-part, .prev-part {
    display: inline-block;
    position: absolute;
    top: 40%;
    border-radius: 50%;
    background: #334581;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    width: 80px;
    height: 80px;
    right: 45px;
    color: #FFF;
    cursor: pointer;
}

.next-part > i, .prev-part > i {
    font-size: 45px;
    position: relative;
    top: 7px;
}

.group {
    margin-top: 15px;
    padding-left: 15px;
    text-align: center;
}

.btn-show-expected-answer {
    background: #334581;
    color: #FFF;
    border: 1px solid #2d3d70;
    border-radius: 2px;
    position: relative;
    left: 15px;
    top: 5px;
    margin: 5px;
}
.btn-show-expected-answer:focus{
    background-color: #334581;
}

.group > img {
    max-height: 350px;
    max-width: 80%;
}

.answer-user-input, .exam, .examiner{
    text-align: left;
}

.title-part {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 18px;
}

.title-part > a {
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.save, .eraser{
    display: inline-block;
    background: #2d3d70;
    position: absolute;
    right: 10%;
    padding: 5px;
    color: #FFF;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
}

.messages{
    width: 50%;
    display: inline-block;
}
.messages-success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;  
}
.messages-error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.loading{
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    position: relative;
}

.loading>div{
    display: inline-block;
    position: relative;
    top: 50px;
}

.eraser{
    margin-right: 10px;
}

.eraser>img{
    width: 25px;
    height: 25px;
}

.subtitle {
    color: #334581;
    display: inline-block;
    margin-bottom: 20px;
}

.prev-part {
    float: left;
    left: 45px;
    right: 0;
}

.prev-part > p, .next-part > p {
    margin: 0 auto;
    position: relative;
    top: 17px;
}

@media (max-width: 319px){
    .title-part {
        font-size: 10px;
        padding: 23px 0px 18px 15px;
    }
    .subtitle>h4 {
        font-size: 25px !important;
    }
    .next-part, .prev-part {
        width: 50px;
        height: 50px;
    }
    .content-exam {
        width: 90%;
        height: 255px;
    }
    .prev-part{
        display: none;
    }
    .prev-part > p, .next-part > p {
        top: 10px;
    }
    
}

@media (max-height: 600px){
    .content-exam {
        padding-bottom: 75px;
    }
}
@media (min-height: 600px) and (max-height: 1024px){
    .content-exam {
        height: 350px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
    .content-exam {
        height: 282px;
    }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
    .content-exam {
        height: 360px;
    }
}

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
    .content-exam {
        height: 400px;
    }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) {
    .content-exam {
        height: 535px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
    .content-exam {
        height: 655px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)and (-webkit-min-device-pixel-ratio: 2) {
    .content-exam {
        height: 880px;
    }
}

@media (min-width: 320px) and (max-width: 420px){
    .title-part {
        font-size: 13px;
        padding: 18px 0px 18px 15px;
    }
    .subtitle>h4 {
        font-size: 25px !important;
    }
    .next-part, .prev-part {
        width: 60px;
        height: 60px;
        top: 50%;
        right: 20px;
    }
    .next-part > i, .prev-part > i {
        font-size: 30px;
        top: 5px;
    }
    .content-exam {
        width: 90%;
    }
    .prev-part{
        display: none;
    }
    .prev-part > p, .next-part > p {
        top: 10px;
    } 
}


@media (max-width: 450px){
    .content-exam {
        width: 90%;
    }
}


@media (min-width: 400px) and (max-width: 819px){
    .next-part, .prev-part {
        width: 70px;
        height: 70px;
    }
    .next-part > i, .prev-part > i {
        top: 2px;
    }
    .prev-part{
        display: none;
    }
    .prev-part > p, .next-part > p {
        top: 10px;
    }
}

